Repository saiichihashimoto/mongoose-normalizr: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --report-unused-disable-directives --fix, sort-package-json

.lintstagedrc:

{
  "**/*.js": [
    "eslint --report-unused-disable-directives --fix",
    "git add"
  ],
  "**/{!(package|package-lock).json,.*rc}": [
    "jsonlint --in-place",
    "git add"
  ],
  "package.json": [
    "sort-package-json",
    "git add"
  ]
}

chore(package): codecov not required
  package-lock.json
  package.json
Due: sort-package-json

fix(mongoose): count populates don't create refs
  src/index.js
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

refactor(test): test for entire object
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

feat(mongoose): refPath generates normalizr Unions
  src/index.js
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

test(mongoose): ensure older versions don't use unions for discriminators
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

test(mongoose): allow all versions of mongoose to create unions
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

test(mongoose): narrow in on versions with `schemas.discriminators`
  package.json
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix, sort-package-json

test(mongoose): only >=3.7.4 has discriminators
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

fix(mongoose): use discriminatorMapping to detect discriminators
  src/index.js
Due: eslint --report-unused-disable-directives --fix

test(mongoose): more versions allow for discriminators now
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

test(mongoose): some mongoose versions seem to break with discriminatorKey
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

docs(README): Dynamic Path support
  README.md
Due: none

test(code): cleanup old test assertions
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

chore(travis): breaks on npm 11.11
  .travis.yml
Due: none

chore(package): update lockfile package-lock.json
  package-lock.json
Due: none

ci(coverage): use coveralls instead of codecov
  .travis.yml
  README.md
Due: none

chore(dev): always save-exact
  .npmrc
Due: none

ci(travis): one testing stage
  .travis.yml
Due: none

ci(travis): emails
  .travis.yml
Due: none

ci(coveralls): make coveralls more verbose
  .travis.yml
Due: none

ci(travis): emaily only on build failures
  .travis.yml
Due: none

ci(travis): cache npm
  .travis.yml
Due: none

chore(coveralls): make coveralls less verbose
  .travis.yml
Due: none

ci(travis): use a build matrix for tests
  .travis.yml
Due: none

ci(travis): only build pushed master or pr-ed against master branches
  .travis.yml
Due: none

ci(travis): fix yml
  .travis.yml
Due: none

chore(comments): some todo comments
  src/index.js
Due: eslint --report-unused-disable-directives --fix

chore(settings): inherit .github settings
  .github/config.yml
  .github/semantic.yml
  .github/settings.yml
Due: none

chore(settings): add travis and coverage
  .github/settings.yml
Due: none

chore(config): travis and node version changes
  .nvmrc
  .travis.yml
  package.json
Due: sort-package-json

refactor(travis): cleanup travis a bit
  .travis.yml
Due: none

refactor(lint): lint-my-app fix
  src/index.js
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

ci(coverage): report coverage regardless
  .travis.yml
Due: none

chore(node): update node to 12.8.0
  .nvmrc
  package.json
Due: sort-package-json

test(mongoose): remove jest warnings
  package.json
Due: sort-package-json

ci(travis): report coverage on master
  .travis.yml
Due: none

chore(settings): Remove WIP
  .github/settings.yml
Due: none

refactor(code): removing things that won't happen
  src/index.js
Due: eslint --report-unused-disable-directives --fix

ci(coverage): tell coveralls its all in parallel idk
  .travis.yml
Due: none

fix(package): octo merge
  package-lock.json
  package.json
Due: sort-package-json
