Repository saiichihashimoto/mongoose-normalizr: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --report-unused-disable-directives --fix, sort-package-json

docs(README): removing unnecessary comment
  README.md
Due: none

fix(package): normalizr as a peerDependency
  package-lock.json
  package.json
Due: sort-package-json

refactor(semantics): named things more semantically
  README.md
  _config.yml
  package-lock.json
  package.json
  src/index.js
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix, sort-package-json

refactor(code): whitespace only changes
  README.md
Due: none

docs(README): reorder some parameters
  README.md
Due: none

ci(travis): build matrix for various mongoose and normalizr versions
  .travis.yml
Due: none

fix(package): set peerDependencies
  .travis.yml
  package.json
Due: sort-package-json

chore(package): update lockfile package-lock.json
  package-lock.json
Due: none

fix(mongoose): peerDependencies includes mongoose^4.0.0
  .travis.yml
  package.json
Due: sort-package-json

ci(normalizr): allowing for NORMALIZR_VERSION
  .travis.yml
  package.json
Due: sort-package-json

fix(mongoose): peerDependency down to 4.13.0
  .travis.yml
  package.json
Due: sort-package-json

feat(normalizr): handle all normalizr 2.x.x
  .travis.yml
  package.json
  src/index.js
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix, sort-package-json

feat(normalizr): handle all normalizr 0.x.x and 1.x.x
  .travis.yml
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

test(normalizr): versions that don't use normalizr should test for unions
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

test(normalizr): don't import union for v1
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

fix(normalizr): don't union when it isn't possible
  package.json
  src/index.js
Due: eslint --report-unused-disable-directives --fix, sort-package-json

ci(test): test for normalizr@3.0.0
  .travis.yml
Due: none

docs(README): mention normalizr support
  README.md
Due: none

refactor(normalizr): use getSchemaAttribute
  src/index.js
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

refactor(tests): test normalizrs using normalize rather than by digging into the schema
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

test(normalizr): fix array tests
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

fix(mongoose): use actual discriminators from discriminator()
  src/index.js
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

test(normalizr): unspecified schemas break discriminators
  README.md
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

test(mongoose): restrict discriminators tests to mongoose^5.0.2
  README.md
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

test(normalizr): normalizr <2.0.0 doesn't generate unions on discriminators
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

ci(mongoose): test down to 4.2.0
  .travis.yml
  package.json
Due: sort-package-json

feat(mongoose): use schema collection names
  README.md
  src/index.js
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

fix(normalizr): use _key instead of key
  src/index.js
Due: eslint --report-unused-disable-directives --fix

fix(normalizr): top level normalizrs can be unions
  src/index.js
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

ci(travis): remove branch restriction for deployment
  .travis.yml
Due: none

test(mongoose): single-nested subdocuments only supported >= 4.2.0
  package-lock.json
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

ci(mongoose): test mongoose 4.0.3
  .travis.yml
  package.json
Due: sort-package-json

test(mongoose): fix broken test
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

test(normalizr): normalizr <3 doesn't make arrays normally
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

ci(travis): move dependency version testing into stages
  .travis.yml
Due: none

ci(mongoose): test ~3.8.0
  .travis.yml
  package.json
Due: sort-package-json

fix(mongoose): allow down to 3.2.2
  .travis.yml
  package.json
Due: sort-package-json

ci(travis): don't do tags
  .travis.yml
Due: none

ci(codecov): flags
  .travis.yml
Due: none

ci(codecov): latest flag
  .travis.yml
Due: none

Path conditions:
  eslint --report-unused-disable-directives --fix: any of: **/*.js
  sort-package-json: any of: package.json
