Repository saiichihashimoto/mongoose-normalizr: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --report-unused-disable-directives --fix, sort-package-json

.lintstagedrc:

{
  "**/*.js": [
    "eslint --report-unused-disable-directives --fix",
    "git add"
  ],
  "**/{!(package|package-lock).json,.*rc}": [
    "jsonlint --in-place",
    "git add"
  ],
  "package.json": [
    "sort-package-json",
    "git add"
  ]
}

style(code): cleaner code
  package.json
  src/index.js
Due: eslint --report-unused-disable-directives --fix, sort-package-json

fix(virtual): allow unknown virtual
  src/index.js
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

docs(readme): caveats section
  README.md
Due: none

docs(readme): add punctuation
  README.md
Due: none

chore(readme): show features
  README.md
Due: none

chore(npm): fix package-lock
  package-lock.json
Due: none

chore(npm): update dependencies
  package-lock.json
  package.json
Due: sort-package-json

feat(options): options can disable normalizing
  README.md
  src/index.js
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

feat(discriminators): normalizr unions for discriminators
  .eslintrc
  README.md
  src/index.js
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

docs(readme): clarify browser use case
  README.md
Due: none

chore(readme): clarify features
  README.md
Due: none

chore(readme): better example
  README.md
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

chore(readme): no backslashes
  README.md
Due: none

test(discriminators): clarifying test
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

chore(tests): spacing
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

docs(readme): no refPath features
  README.md
Due: none

chore(dev): better messaging about npm problem
  package.json
Due: sort-package-json

fix(build): don't include babel-plugin-istanbul
  .gitignore
  .travis.yml
  package-lock.json
  package.json
Due: sort-package-json

docs(readme): nsp badge
  README.md
Due: none

chore(update): update outdated packages
  package-lock.json
  package.json
Due: sort-package-json

fix(browser): types checked against actual constructor
  src/index.js
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix

chore(package): update lockfile
  package-lock.json
Due: none

chore(npm): update packages
  package-lock.json
  package.json
Due: sort-package-json

fix(npm): update packages
  package-lock.json
  package.json
Due: sort-package-json

fix(npm): update (and fix) packages
  package-lock.json
  package.json
Due: sort-package-json

ci(greenkeeper): Proper lockfile setup
  .travis.yml
  package-lock.json
  package.json
Due: sort-package-json

chore(npm): update package
  package-lock.json
  package.json
Due: sort-package-json

refactor(package): simplified everything
  .babelrc
  .eslintrc
  .huskyrc.js
  .lintstagedrc
  .nycrc
  .travis.yml
  README.md
  babel.config.js
  codecov.yml
  package-lock.json
  package.json
  src/index.js
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix, sort-package-json

fix(README): Greenkeeper badge on it's own line
  README.md
Due: none

feat(discriminators): fix for discriminatorKey
  package-lock.json
  package.json
  src/index.js
  src/index.spec.js
Due: eslint --report-unused-disable-directives --fix, sort-package-json
